<!-- START FOOTER SECTION -->
<footer class="footer_dark">
    <div class="top_footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <div class="footer_logo">
                        <a class="page-scroll" href="/"><img alt="logo" style="max-height: 48px;" src="/assets/images/theme/logo-w.png"></a>
                    </div>
                    <p class="mb-4">Лучшие условия для постоянных и новых туристов на современных теплоходах.
                        Самый больший выбор круизов онлайн на сайте.
                        Индивидуальный подход.</p>
<!--                        <p>Покупка за несколько минут.</p>-->
                    <div class="footer_logo">
                        <a class="page-scroll" href="https://apps.apple.com/us/app/%D0%BA%D1%80%D1%83%D0%B8%D0%B7%D1%8B-%D1%80%D1%84/id1568920865"><img alt="logo" style="max-height: 32px;" src="/assets/images/icons/appstore.png"></a>
                        <a class="page-scroll" href="https://play.google.com/store/apps/details?id=su.superuser.ru_tours"><img alt="logo" style="max-height: 32px;" src="/assets/images/icons/googleplay.png"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <h6 class="widget_title text-uppercase">Новости</h6>
                    <ul class="recent_post border_bottom_dash list_none">
                        {% for post in site.posts limit:3 %}
                        <li>
                            <div class="post_footer">
                                <div class="post_content">
                                    <h6><a href="{{ post.url }}">{{ post.content | strip_html | truncate: 85}}</a></h6>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                    <h6 class="widget_title text-uppercase">Полезные ссылки</h6>
                    <ul class="list_none widget_links widget_links_style2">
                        <li><a href="/contacts/">Контакты</a></li>
                        <li><a href="/raspisaniye/">Подбор круиза</a></li>
                        <li><a href="/actions/">Акции</a></li>
                        <li><a href="/status/">Проверить заявку</a></li>
                        <li><a href="/eorder/">Электронная путёвка</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h6 class="widget_title text-uppercase">Контакты</h6>
                    <ul class="contact_info contact_info_light contact_info_style4 list_none">
                        <li>
                            <span class="ti-location-pin"></span>
                            <address>Москва, Хлебников переулок, д. 7, стр. 3, офис 4</address>
                        </li>
                        <li>
                            <span class="ti-email"></span>
                            <a href="mailto:cruise-volna001@yandex.ru">cruise-volna001@yandex.ru</a>
                        </li>
                        <li>
                            <span class="ti-mobile"></span>
                            <p><a href="tel:74956434375" style="color: white!important;">+7 (495) 643-43-75</a></p>
                        </li>
                        <li>
                            <span class="ti-mobile"></span>
                            <p><a href="tel:79163497106" style="color: white!important;">+7 (916) 349-71-06</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom_footer bg-dark">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <p class="copyright m-md-0 text-center text-md-left">©КРУИЗ-ВОЛНА</p>
                </div>
                <div class="col-md-6">
                    <ul class="list_none footer_link text-center text-md-right">
                        <li><a href="/eula/">Пользовательское соглашение</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER SECTION -->
