<!-- Moment -->
<script src="/assets/js/moment.min.js"></script>
<script src="/assets/js/ru.js"></script>
<!-- Latest jQuery -->
<!--<script src="/assets/js/jquery-1.12.4.min.js"></script>-->
<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script src="/assets/js/jquery-migrate-3.3.2.min.js"></script>
<!-- jquery-ui -->
<script src="/assets/js/jquery-ui.js"></script>
<!-- popper min js -->
<script src="/assets/js/popper.min.js"></script>
<!-- Latest compiled and minified Bootstrap -->
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- owl-carousel min js  -->
<script src="/assets/owlcarousel/js/owl.carousel.min.js"></script>
<!-- magnific-popup min js  -->
<script src="/assets/js/magnific-popup.min.js"></script>
<!-- waypoints min js  -->
<script src="/assets/js/waypoints.min.js"></script>
<!-- parallax js  -->
<script src="/assets/js/parallax.js"></script>
<!-- countdown js  -->
<script src="/assets/js/jquery.countdown.min.js"></script>
<!-- fit video  -->
<script src="/assets/js/jquery.fitvids.js"></script>
<!-- jquery.counterup.min js -->
<script src="/assets/js/jquery.counterup.min.js"></script>
<!-- isotope min js -->
<script src="/assets/js/isotope.min.js"></script>
<!-- lightbox min js -->
<script src="/assets/js/lightbox.min.js"></script>
<!-- elevatezoom js -->
<script src='/assets/js/jquery.elevatezoom.js'></script>
<!-- jquery.dd.min -->
<script src="/assets/js/jquery.dd.min.js"></script>
<!-- DatePicker js -->
<script type="text/javascript" src="/assets/js/datepicker.min.js"></script>
<!-- Hoverparallax -->
<script src="/assets/js/Hoverparallax.min.js"></script>
<!-- jquery.parallax-scroll js -->
<script src="/assets/js/jquery.parallax-scroll.js"></script>
<!-- Demo js -->
<script src="/assets/js/demo-hotel.js"></script>
<!-- scripts js -->
<script src="/assets/js/scripts.js"></script>

<script src='/assets/lib/DataTables-1.10.16/js/jquery.dataTables.js'></script>
<script src="/assets/js/cruises.js"></script>
<script src="/assets/js/details.js"></script>