<!-- START SECTION ABOUT -->
<section class="small_pt small_pb">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12 animation" data-animation="fadeInUp" data-animation-delay="0.1s">
                <div class="heading_s2">
                    <h2>Круиз-Волна</h2>
                </div>
                <p>Наша компания занимается реализацией турпутевок по ценам судовладельцев.</p>
                <p>Наши преимущества:</p>
                <div class="list_style_4 color_blue mb-3">
                    <ul>
                        <li>Лучшие условия для постоянных и новых туристов на современных теплоходах.</li>
                        <li>Самый больший выбор круизов онлайн на сайте.</li>
                        <li>Индивидуальный подход.</li>
                        <li>Покупка за несколько минут.</li>
                    </ul>
                </div>
                <a href="/contacts" class="btn btn-default mt-md-2">Подробнее</a>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                <div class="overlay_bg_40 about_video_img mt-4 mt-lg-0">
                    <img src="/assets/images/banners/valaam_video_bg.jpg" alt="about_img">
                    <a href="https//www.youtube.com/watch?v=pFWRZweiW4E" class="video_popup video_play"><img class="bounce_img" src="/assets/images/theme/play-icon.png" alt="play-icon"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION ABOUT -->