<!-- START SECTION AVAILABILITY -->
<section class="pt-sm-0 small_pb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="booking_form animation" data-animation="fadeInUp" data-animation-delay="0.1s">
                    <form action="/raspisaniye" method="get">
                        <div class="form-row align-items-end">
                            <div class="form_col">
                                <label>Сезон</label>
                                <div class="custom_select">
                                    <select class="form-control" name="season" required="required">
                                        <option value="2021">2021</option>
                                        <option value="2021" disabled="disabled">2021</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form_col">
                                <label>Месяц</label>
                                <div class="custom_select">
                                    <select class="form-control" name="date_from" required="required">
                                        <option value="">Любой</option>
                                        <option value="01/04/2020">Апрель</option>
                                        <option value="01/05/2020">Май</option>
                                        <option value="01/06/2020">Июнь</option>
                                        <option value="01/07/2020">Июль</option>
                                        <option value="01/08/2020">Август</option>
                                        <option value="01/09/2020">Сентябрь</option>
                                        <option value="01/10/2020">Октябрь</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form_col">
                                <label>Дней</label>
                                <div class="custom_select">
                                    <select class="form-control" name="days" required="required">
                                        <option value="">Не важно</option>
                                        <option value="3">До 3</option>
                                        <option value="7">От 3 до 10</option>
                                        <option value="10">Больше 10</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form_col">
                                <label>Направление</label>
                                <div class="custom_select">
                                    <select class="form-control" name="city" required="required">
                                        <option value="">Все</option>
                                        <option value="Петербург">Санкт-Петербург</option>
                                        <option value="Кижи">Кижи</option>
                                        <option value="Валаам">Валаам</option>
                                        <option value="Соловецкие">Соловецкие о-ва</option>
                                        <option value="Новгород">Н.Новгород</option>
                                        <option value="Плес">Плес</option>
                                        <option value="Казань">Казань</option>
                                        <option value="Пермь">Пермь</option>
                                        <option value="Астрахань">Астрахань</option>
                                        <option value="Константиново">по Оке</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form_col">
                                <button type="submit" class="btn btn-default btn-block" name="submit">Подобрать Круиз</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION AVAILABILITY -->