<!-- START SECTION BANNER -->
<section class="banner_section p-0 full_screen">
    <div id="carouselExampleControls" class="banner_content_wrap carousel carousel-fade slide light_arrow3" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active background_bg overlay_bg_60" data-img-src="/assets/images/banners/ship.jpg">
                <div class="banner_slide_content">
                    <div class="container"><!-- STRART CONTAINER -->
                        <div class="row justify-content-center">
                            <div class="col-xl-9 col-md-12 col-sm-12 text-center">
                                <div class="banner_content text_white">
                                    <h2 class="animation" data-animation="fadeInDown" data-animation-delay="0.2s">Аккредитованный Турагент</h2>
                                    <p class="animation mt-3 mb-4" data-animation="fadeInUp" data-animation-delay="0.3s">Ведущих Судовладельцев России с 2001 года</p>
                                    <a class="btn btn-default animation" href="/raspisaniye" data-animation="fadeInUp" data-animation-delay="0.4s">Подобрать Круиз</a>
                                    <a class="btn btn-outline-white animation" href="/contacts" data-animation="fadeInUp" data-animation-delay="0.5s">Контакты</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- END CONTAINER-->
                </div>
            </div>
            <div class="carousel-item background_bg overlay_bg_60" data-img-src="/assets/images/banners/prichal.jpg">
                <div class="banner_slide_content">
                    <div class="container"><!-- STRART CONTAINER -->
                        <div class="row justify-content-center">
                            <div class="col-xl-9 col-md-12 col-sm-12 text-center">
                                <div class="banner_content text_white">
                                    <h2 class="animation" data-animation="fadeInDown" data-animation-delay="0.2s">Майские Праздники</h2>
                                    <p class="animation mt-3 mb-4" data-animation="fadeInUp" data-animation-delay="0.3s">На Теплоходе!</p>
                                    <a class="btn btn-default animation" href="/raspisaniye?season=2021&date_from=28/04/2021&date_to=15/05/2021" data-animation="fadeInUp" data-animation-delay="0.4s">Выбрать круиз</a>
                                    <a class="btn btn-outline-white animation" href="/raspisaniye" data-animation="fadeInUp" data-animation-delay="0.5s">Все круизы</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- END CONTAINER-->
                </div>
            </div>
            <div class="carousel-item background_bg overlay_bg_60" data-img-src="/assets/images/banners/deti1.jpg">
                <div class="banner_slide_content">
                    <div class="container"><!-- STRART CONTAINER -->
                        <div class="row justify-content-center">
                            <div class="col-xl-9 col-md-12 col-sm-12 text-center">
                                <div class="banner_content text_white">
                                    <h2 class="animation" data-animation="fadeInDown" data-animation-delay="0.2s">Дети - бесплатно</h2>
                                    <p class="animation mt-3 mb-4" data-animation="fadeInUp" data-animation-delay="0.3s">Т/х "Лунная Соната", "Дмитрий Фурманов", "Лебединое озеро", "Солнечный город"</p>
                                    <a class="btn btn-default animation" href="/raspisaniye?ship=Солнечный,Фурманов,соната,озеро" data-animation="fadeInUp" data-animation-delay="0.4s">Подобрать круиз</a>
                                    <a class="btn btn-outline-white animation" href="/raspisaniye?ship=Солнечный,Фурманов,соната,озеро" data-animation="fadeInUp" data-animation-delay="0.5s">Все круизы по акции</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- END CONTAINER-->
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"><i class="linearicons-arrow-left"></i></a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"><i class="linearicons-arrow-right"></i></a>
    </div>
</section>
<!-- END SECTION BANNER -->