<!-- START SECTION CALL TO ACTION -->
<section id="oplata" class="cta_section background_bg overlay_bg_80 position-relative fixed_bg px-0" data-img-src="/assets/images/banners/sber3.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text_white text-center animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                <div class="heading_s3 mb-md-3 heading_light">
                    <span class="sub_title text-uppercase">Оплата заказа на сайте</span>
                    <h2 class="font-weight-normal">СБЕРБАНК</h2>
                </div>
                <p><a href="/order">Порядок оплаты заказа</a></p>
                <button class="btn btn-default" onclick="jQuery('#mymodalform').show();">Оплатить</button>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION CALL TO ACTION -->