<!-- START SECTION GALLERY -->
<section class="light_gray_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-9 animation" data-animation="fadeInUp" data-animation-delay="0.1s">
                <div class="heading_s2 text-center">
                    <h2>Our Gallery</h2>
                </div>
                <p class="text-center"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="cleafix small_divider"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                <ul class="list_none carousel_slider owl-carousel owl-theme image_gallery gallery_hover_style2" data-loop="true" data-margin="15" data-dots="false" data-autoplay="true" data-nav="true" data-autoplay-timeout="2500" data-center="true" data-responsive='{"0":{"items": "1"}, "480":{"items": "2"}, "768":{"items": "3"}, "1199":{"items": "4"}}'>
                    <li>
                        <div class="image_gallery_item">
                            <a href="/assets/images/theme/gallery_img1.jpg">
                                <div class="gallery_img">
                                    <img src="/assets/images/theme/gallery_small_img1.jpg" alt="image">
                                </div>
                                <div class="gallary_hover_box">
                                    <i class="ion-image"></i>
                                    <span>Gallery Title</span>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="image_gallery_item">
                            <a href="/assets/images/theme/gallery_img2.jpg">
                                <div class="gallery_img">
                                    <img src="/assets/images/theme/gallery_small_img2.jpg" alt="image">
                                </div>
                                <div class="gallary_hover_box">
                                    <i class="ion-image"></i>
                                    <span>Gallery Title</span>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="image_gallery_item">
                            <a href="/assets/images/theme/gallery_img3.jpg">
                                <div class="gallery_img">
                                    <img src="/assets/images/theme/gallery_small_img3.jpg" alt="image">
                                </div>
                                <div class="gallary_hover_box">
                                    <i class="ion-image"></i>
                                    <span>Gallery Title</span>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="image_gallery_item">
                            <a href="/assets/images/theme/gallery_img4.jpg">
                                <div class="gallery_img">
                                    <img src="/assets/images/theme/gallery_small_img4.jpg" alt="image">
                                </div>
                                <div class="gallary_hover_box">
                                    <i class="ion-image"></i>
                                    <span>Gallery Title</span>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="image_gallery_item">
                            <a href="/assets/images/theme/gallery_img5.jpg">
                                <div class="gallery_img">
                                    <img src="/assets/images/theme/gallery_small_img5.jpg" alt="image">
                                </div>
                                <div class="gallary_hover_box">
                                    <i class="ion-image"></i>
                                    <span>Gallery Title</span>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="image_gallery_item">
                            <a href="/assets/images/theme/gallery_img6.jpg">
                                <div class="gallery_img">
                                    <img src="/assets/images/theme/gallery_small_img6.jpg" alt="image">
                                </div>
                                <div class="gallary_hover_box">
                                    <i class="ion-image"></i>
                                    <span>Gallery Title</span>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION GALLERY -->