<!-- START SECTION BLOG -->
<section class="pb_70 light_gray_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-9 animation" data-animation="fadeInUp" data-animation-delay="0.1s">
                <div class="heading_s2 text-center">
                    <h2>Our Letest Blog</h2>
                </div>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="clearfix small_divider"></div>
            </div>
        </div>
        <div class="row justify-content-center animation" data-animation="fadeInUp" data-animation-delay="0.2s">
            <div class="col-lg-4 col-md-6 mb-4 pb-md-1">
                <div class="blog_post blog_style4 box_shadow4">
                    <div class="blog_img">
                        <a href="#">
                            <img src="/assets/images/theme/blog_small_img1.jpg" alt="blog_small_img1">
                        </a>
                    </div>
                    <div class="blog_content bg-white">
                        <div class="blog_text">
                            <h6 class="blog_title font-weight-bold"><a href="#">Why is a ticket to Lagos so expensive?</a></h6>
                            <ul class="list_none blog_meta">
                                <li><a href="#"><i class="ion-calendar"></i> April 14, 2018</a></li>
                                <li><a href="#"><i class="ion-chatboxes"></i> 2 Comment</a></li>
                            </ul>
                            <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>
                            <a href="#" class="text-capitalize">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 pb-md-1">
                <div class="blog_post blog_style4 box_shadow4">
                    <div class="blog_img">
                        <a href="#">
                            <img src="/assets/images/theme/blog_small_img2.jpg" alt="blog_small_img2">
                        </a>
                    </div>
                    <div class="blog_content bg-white">
                        <div class="blog_text">
                            <h6 class="blog_title font-weight-bold"><a href="#">Flexible solution for starter package</a></h6>
                            <ul class="list_none blog_meta">
                                <li><a href="#"><i class="ion-calendar"></i> April 14, 2018</a></li>
                                <li><a href="#"><i class="ion-chatboxes"></i> 2 Comment</a></li>
                            </ul>
                            <p>Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                            <a href="#" class="text-capitalize">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 pb-md-1">
                <div class="blog_post blog_style4 box_shadow4">
                    <div class="blog_img">
                        <a href="#">
                            <img src="/assets/images/theme/blog_small_img3.jpg" alt="blog_small_img3">
                        </a>
                    </div>
                    <div class="blog_content bg-white">
                        <div class="blog_text">
                            <h6 class="blog_title font-weight-bold"><a href="#">Perfect for spending a night?</a></h6>
                            <ul class="list_none blog_meta">
                                <li><a href="#"><i class="ion-calendar"></i> April 14, 2018</a></li>
                                <li><a href="#"><i class="ion-chatboxes"></i> 2 Comment</a></li>
                            </ul>
                            <p>It uses a dictionary of over combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable</p>
                            <a href="#" class="text-capitalize">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION BLOG -->