<!-- START SECTION ROOM -->
<section class="small_pt">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-9 animation" data-animation="fadeInUp" data-animation-delay="0.1s">
                <div class="heading_s2 text-center">
                    <h2>Rooms & Suites</h2>
                </div>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="small_divider clearfix"></div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="item_box animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                    <div class="item_img">
                        <a href="#"><img src="/assets/images/theme/room_img1.jpg" alt="room_img1"></a>
                        <div class="room_services">
                            <i class="fa fa-coffee" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Breakfast Included" data-original-title="Breakfast"></i>
                            <i class="fa fa-bath" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="2 Bathrooms" data-original-title="Bathroom"></i>
                            <i class="fa fa-wifi" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Free WiFi" data-original-title="WiFi"></i>
                            <i class="fa fa-tv" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="TV with cable channels" data-original-title="TV"></i>
                        </div>
                        <span class="badge badge-success">-30% Off</span>
                    </div>
                    <div class="item_info">
                        <h5><a href="#">Classic Double Room</a></h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                        <div class="item_foot">
                            <div class="room_price">
                                <h4 class="text_default">$350.00</h4>
                                <span>Per nights</span>
                            </div>
                            <div class="item_stars">
                                <div class="stars">
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star-outline"></i>
                                </div>
                                <span>(4.0 Rating)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item_box animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                    <div class="item_img">
                        <a href="#"><img src="/assets/images/theme/room_img2.jpg" alt="room_img2"></a>
                        <div class="room_services">
                            <i class="fa fa-coffee" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Breakfast Included" data-original-title="Breakfast"></i>
                            <i class="fa fa-bath" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="2 Bathrooms" data-original-title="Bathroom"></i>
                            <i class="fa fa-wifi" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Free WiFi" data-original-title="WiFi"></i>
                        </div>
                    </div>
                    <div class="item_info">
                        <h5><a href="#">Classic Double Room</a></h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                        <div class="item_foot">
                            <div class="room_price">
                                <h4 class="text_default">$450.00</h4>
                                <span>Per nights</span>
                            </div>
                            <div class="item_stars">
                                <div class="stars">
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star-half"></i>
                                    <i class="ion-android-star-outline"></i>
                                    <i class="ion-android-star-outline"></i>
                                </div>
                                <span>(2.5 Rating)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item_box animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                    <div class="item_img">
                        <a href="#"><img src="/assets/images/theme/room_img3.jpg" alt="room_img3"></a>
                        <div class="room_services">
                            <i class="fa fa-coffee" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Breakfast Included" data-original-title="Breakfast"></i>
                            <i class="fa fa-bath" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="2 Bathrooms" data-original-title="Bathroom"></i>
                            <i class="fa fa-wifi" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Free WiFi" data-original-title="WiFi"></i>
                            <i class="fa fa-tv" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="TV with cable channels" data-original-title="TV"></i>
                        </div>
                        <span class="badge badge-danger">Sale</span>
                    </div>
                    <div class="item_info">
                        <h5><a href="#">Classic Double Room</a></h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                        <div class="item_foot">
                            <div class="room_price">
                                <h4 class="text_default">$550.00</h4>
                                <span>Per nights</span>
                            </div>
                            <div class="item_stars">
                                <div class="stars">
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star-half"></i>
                                    <i class="ion-android-star-outline"></i>
                                </div>
                                <span>(4.5 Rating)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center mt-md-4">
                <a href="#" class="btn btn-default">View All Rooms</a>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION ROOM -->