<!-- START SECTION SERVICE -->
<section class="small_pt small_pb overflow_hide">
    <div class="container-fluid">
        <div class="content_slider">
            <div class="row slider_center">
                <div class="slider_images col-md-6 col-sm-12 p-0 sm-height-300 xs-height-200 animation" data-animation="fadeInLeft" data-animation-delay="0.1">
                    <div class="image h-100 background_bg" data-img-src="/assets/images/banners/ships-deti.jpg" data-key="bedroom"></div>
                    <div class="image h-100 background_bg" data-img-src="/assets/images/banners/cabin.jpg" data-key="restaurant"> </div>
                    <div class="image h-100 background_bg" data-img-src="/assets/images/banners/oplata.jpg" data-key="gym"> </div>
                    <div class="image h-100 background_bg" data-img-src="/assets/images/theme/children-happy.jpg" data-key="swimming"> </div>
                </div>
                <div class="content_box col-md-6 col-sm-12 p-0 animation" data-animation="fadeInRight" data-animation-delay="0.2s">

                    <div class="padding_eight_all light_gray_bg content_wrap">
                        <div class="heading_s2">
                            <h2>Дети - бесплатно!</h2>
                        </div>
                        <ul class="tabs slide_tab list_none">
                            <li class="active" data-key="bedroom">
                                <div class="icon_box">
                                    <i>1</i>
                                </div>
                                <div class="tab_desc">
                                    <h5>Выберите круиз на одном из теплоходов:</h5>
                                    <p>«Лебединое озеро», «Лунная соната», «Дмитрий Фурманов», «Н.А. Некрасов», «Александр Бенуа», «Северная сказка», «Солнечный город», «Две столицы»</p>
                                </div>
                            </li>
                            <li data-key="restaurant">
                                <div class="icon_box">
                                    <i>2</i>
                                </div>
                                <div class="tab_desc">
                                    <h5>Выберите каюту с дополнительными местами</h5>
                                    <p>Дополнительное место может быть диваном, местом верхнего расположения или евро-раскладушкой, в зависимости от выбранной каюты.</p>
                                </div>
                            </li>
                            <li data-key="gym">
                                <div class="icon_box">
                                    <i>3</i>
                                </div>
                                <div class="tab_desc">
                                    <h5>Оплатите два основных места</h5>
                                    <p>При этом не действуют другие акции и скидки, кроме сезонной.</p>
                                </div>
                            </li>
                            <li data-key="swimming">
                                <div class="icon_box">
                                    <i>4</i>
                                </div>
                                <div class="tab_desc">
                                    <h5>Готово! </h5>
                                    <p>Дети с вами в каюте путешествуют бесплатно!</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION SERVICE -->