<!-- START SECTION NEWSLETTER -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9">
                <div class="radius_box_10 box_shadow4 newsletter_box animation"  data-animation="fadeInUp" data-animation-delay="0.1s">
                    <div class="row justify-content-center">
                        <div class="col-md-9">
                            <div class="heading_s2">
                                <h2>Подпишитесь на наши новости</h2>
                            </div>
                            <p>Будьте в курсе специальных предложений и акций компании.</p>
                            <div class="newsletter_form ml-0 mt-md-4">
                                <form>
                                    <div class="radius_input input_border2">
                                        <input type="text" required="" placeholder="Ваш Почтовый ящик">
                                    </div>
                                    <button type="submit" title="Subscribe" class="btn btn-default" name="submit" value="Submit">подписаться</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="newsletter_icon">
                                <img src="/assets/images/theme/mailbox.png" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION NEWSLETTER --