<!-- START HEADER -->
<header class="header_wrap dark_skin hover_menu_style4">
    <div class="top-header bg-dark border-0 light_skin">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8 col-sm-9">
                    <ul class="contact_detail list_none text-center text-md-left">
                        <li><i class="ti-mobile"></i><a href="tel:74956434375" style="color: white!important;"> +7 (495) 643-43-75</a>, <a href="tel:79163497108" style="color: white!important;">+7 (916) 349-71-06</a></li>
                        <!--<li><i class="ti-location-pin"></i>Москва, Хлебников переулок, д. 7, стр. 3</li>-->
                    </ul>
                </div>
                <div class="col-md-4 col-sm-3">
                    <ul class="contact_detail list_none text-right text-md-right d-md-block d-none">
                        <li><i class="ti-location-pin"></i>Москва, Хлебников переулок, д. 7, стр. 3</li>
                    </ul>
                    <!--<a href="/" class="btn btn-outline-white page-scroll btn-sm float-right d-md-block d-none">Book Now</a>-->
                    <!--<div class="lng_dropdown lng_dropdown_white float-sm-right mr-md-3 d-sm-block d-none">
                        <select name="countries" id="lng_select" tabindex="-1">
                            <option value="en" data-image="/assets/images/theme/eng.png" data-title="English">EN</option>
                            <option value="fn" data-image="/assets/images/theme/fn.png" data-title="France">FN</option>
                            <option value="us" data-image="/assets/images/theme/us.png" data-title="United States">US</option>
                        </select>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {% include header/nav.html %}
    </div>
</header>
<!-- END HEADER -->