<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand brand_161X50" href="/">
        <img class="logo_light" src="/assets/images/theme/logo-w.png" alt="logo" />
        <img class="logo_dark" src="/assets/images/theme/logo-blue.png" alt="logo" />
        <img class="logo_default" src="/assets/images/theme/logo-blue.png" alt="logo" />
    </a>
    <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="ion-android-menu"></span> </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="dropdown">
                <a class="nav-link dropdown-toggle" href="#">Главная</a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a class="dropdown-item nav-link nav_item" href="/">Главная</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="https://booking.cruise-volna.ru">Старая версия сайта</a></li>
                    </ul>
                </div>
            </li>
            <li class="dropdown">
                <a class="nav-link dropdown-toggle" href="#">Расписание</a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a class="dropdown-item nav-link nav_item" href="/raspisaniye">Расписание</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="/baikal">Круизы по Байкалу</a></li>
                    </ul>
                </div>
            </li>
<!--            <li>-->
<!--                <a class="nav-link" href="/raspisaniye">Расписание</a>-->
<!--            </li>-->
            <li class="dropdown">
                <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#">Информация</a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a class="dropdown-item nav-link nav_item" href="/routes">Маршруты</a></li>
<!--                        <li><a class="dropdown-item nav-link nav_item" href="/ships">Теплоходы</a></li>-->
                        <li><a class="dropdown-item nav-link nav_item" href="/order">Как купить круиз</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="/eorder">Электронная путёвка</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="/novichok">Для новичков</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="/notes">Памятка туристу</a></li>
                    </ul>
                </div>
            </li>
            <li class="dropdown">
                <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#">Cкидки</a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a class="dropdown-item nav-link nav_item" href="/spec">Акции</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="/bonus">Сезонные скидки</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="nav-link" href="/news">Новости</a>
            </li>
            <li>
                <a class="nav-link" href="/contacts">Контакты</a>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav attr-nav align-items-center">
        <li><a href="javascript:void(0);" class="nav-link search_trigger"><i class="ion-ios-search-strong"></i></a>
            <div class="search-overlay">
                <span class="close-search"><i class="ion-ios-close-empty"></i></span>
                <div class="search_wrap">
                    <form>
                        <input type="text" placeholder="Искать" class="form-control" id="search_input">
                        <button type="submit" class="search_icon"><i class="ion-ios-search-strong"></i></button>
                    </form>
                </div>
            </div>
        </li>
    </ul>
</nav>