<!-- START SECTION BANNER -->
<section class="page-title-light breadcrumb_section gray_bg background_bg blue_overlay_bg" data-img-src="/assets/images/banners/volga.jpg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="page-title">
                    <h1>{{ page.title }}</h1>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                        <li class="breadcrumb-item active">{{ page.title }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION BANNER -->