{% include header/head.html %}
<body>
{% include loader.html %}
{% include header/header.html %}
{% include sections/banner.html %}
{% include sections/available.html %}
{% include sections/about.html %}
{% include sections/service.html %}
{% include sections/testimonial.html %}
{% include sections/call2action.html %}
{% include sections/subscribe.html %}
{% include footer/footer.html %}
<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>
{% include footer/scripts.html %}
</body>
</html>