<form id="contactform" action="https://script.google.com/macros/s/AKfycbxJKnsYQ-LGsUv28o4afTdkpecilCSFMjf4alVt/exec" method="post">


    <input type="hidden" name="tour" value="">
    <input type="hidden" name="date" value="">

    <p>&nbsp;</p>
    <p>имя (обязательно)<br>
        <input type="text" name="name" value="" size="40">
    </p>
    <p>телефон (обязательно)<br>
        <input type="text" name="mobile" value="" size="40">
    </p>
    <p>e-mail (обязательно)<br>
        <input type="email" name="email" value="" size="40">
    </p>
    <p>Теплоход<br>
        <input name="ship" value="" size="40">
    </p>

    <input type="hidden" name="message" value="Проверить статус">

    <p class="btn_sber">моб. (обязательно)<br>
        <input type="text" name="phone" value="" size="40">
    </p>
    <p><input id="submit" type="submit" value="Отправить"></p>
    <div style="display: none; padding: 10px 40px; border: 1px solid green; color: green; margin-top: 10px; text-align: center;font-weight: bold;" class="email-response"></div>
</form>