
<div class="entry">
    <fieldset class="search-wrapper">
        <legend class="search-title">
            <span class="search-com">КРУИЗ-ВОЛНА</span>
            <span class="search-reset"><a href="/raspisaniye">сбросить все фильтры</a></span>
            <span class="search-divider"></span>
        </legend>
        <div class="search-content">
            <form action="/raspisaniye">
                <div class="search-container">
                    <div>
                        <label for="season">Сезон</label><br>
                        <select id="season" name="season">
                            <option value="2021">2021</option>
                            <option value="2021" disabled="disabled">2022</option>
                        </select>
                    </div>
                    <div>
                        <label for="date_from">Месяц</label><br>
                        <select id="date_from" name="date_from">
                            <option value="">Любой</option>
                            <option value="01/04/2021">Апрель</option>
                            <option value="01/05/2021">Май</option>
                            <option value="01/06/2021">Июнь</option>
                            <option value="01/07/2021">Июль</option>
                            <option value="01/08/2021">Август</option>
                            <option value="01/09/2021">Сентябрь</option>
                            <option value="01/10/2021">Октябрь</option>
                        </select>
                    </div>
                    <div>
                        <label for="cruise-days">Дней</label><br>
                        <select id="cruise-days" name="cruise-days">
                            <option value="0">Не важно</option>
                            <option value="3">До 3</option>
                            <option value="7">От 3 до 10</option>
                            <option value="10">Больше 10</option>
                        </select>
                    </div>
                    <div>
                        <label for="city">Направление</label><br>
                        <select id="city" name="city">
                            <option value="">Все</option>
                            <option value="Петербург">Санкт-Петербург</option>
                            <option value="Кижи">Кижи</option>
                            <option value="Валаам">Валаам</option>
                            <option value="Соловецкие">Соловецкие о-ва</option>
                            <option value="Новгород">Н.Новгород</option>
                            <option value="Плес">Плес</option>
                            <option value="Казань">Казань</option>
                            <option value="Пермь">Пермь</option>
                            <option value="Астрахань">Астрахань</option>
                            <option value="Константиново">по Оке</option>
                        </select>
                    </div>
                    <div>
                        <label>Теплоход</label><br>
                        <select id="ships" name="ships"><option value="">Теплоход</option></select>
                    </div>
                    <div>
                        <label>Круиз выходного дня</label><br>
                        <input id="holiday" name="holiday" type="checkbox">
                    </div>
                </div>
            </form>
        </div>
    </fieldset>
</div>
